<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12">
        <div class="right-text-content">
          <ul class="social-icons">
            <li>
              <a
                href="https://www.facebook.com/tnailsandspa2023/"
                target="_blank"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/" target="_blank"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a
                href="https://maps.app.goo.gl/zD5tpTNfN6Ex1btY6"
                target="_blank"
                ><i class="fa fa-google"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="logo">
          <a href="index"
            ><img
              class="logo-footer"
              src="assets/images/Lldw-template-01-logo-5a3482cf24.png"
              alt="T Nails and Spa"
          /></a>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="left-text-content right">
          <p>
            © Copyright <span>T Nails and Spa </span><br />
            All Rights Reserved
            <br />
            Designed By
            <a href="https://www.kruzoservice.com" target="_blank">KruzoService</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
