<!-- ***** Footer Start ***** -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-seo-copy">
          <p class="footer-seo-copy__title">
            T Nails &amp; Spa | Best Nail Salon in Newmarket, ON
          </p>
          <p class="footer-seo-copy__lead">
            Looking for the best nail care in Newmarket, ON? Visit T Nails
            &amp; Spa at Yonge St for professional manicures, pedicures,
            waxing, and acrylic nails.
            <a
              href="https://tnail.veceebooking.com/"
              target="_blank"
              rel="noopener"
              >Book today!</a
            >
          </p>
          <p class="footer-seo-copy__meta">
            <a
              href="https://maps.app.goo.gl/uDKmsYCif3B47d3c9"
              target="_blank"
              rel="noopener"
              >16655 Yonge St Unit 22, Newmarket, ON L3X 1V6, Canada</a
            >
          </p>
          <p class="footer-seo-copy__meta">
            T Nails &amp; Spa - Professional Nail Salon &amp; Beauty Services in
            Newmarket, Ontario.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-xs-12">
        <div class="right-text-content">
          <ul class="social-icons">
            <li>
              <a
                href="https://www.facebook.com/tnailsandspa2023/"
                target="_blank"
                rel="noopener"
                aria-label="T Nails and Spa on Facebook"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a
                href="https://maps.app.goo.gl/uDKmsYCif3B47d3c9"
                target="_blank"
                rel="noopener"
                aria-label="T Nails and Spa on Google Maps"
                ><i class="fa fa-google"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="logo">
          <a href="/"
            ><img
              class="logo-footer"
              src="assets/images/Lldw-template-01-logo-5a3482cf24.png"
              alt="T Nails and Spa"
          /></a>
        </div>
      </div>
      <div class="col-lg-5 col-xs-12">
        <div class="left-text-content right">
          <p>
            &copy; Copyright <span>T Nails and Spa </span><br />
            All Rights Reserved
            <br />
            Designed By
            <a
              class="footer-credit-link"
              href="https://www.kruzoservice.com"
              target="_blank"
              rel="noopener"
              >KruzoService</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
