    <!-- ***** Preloader Start ***** -->
    <div id="preloader" style="visibility: hidden; display: none; opacity: 0">
      <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- ***** PreloaderEnd ***** -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="main-nav">
              <!-- ***** Logo Start ***** -->
              <a href="index" class="logo">
                <img
                  class="logo-img"
                  src="assets/images/Lldw-template-01-logo-5a3482cf24.png"
                  alt="T Nails and Spa"
                />
              </a>
              <!-- ***** Logo End ***** -->
              <!-- ***** Menu Start ***** -->
              <ul class="nav">
                <li class="scroll-to-section">
                  <a href="#top" class="active">Home</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#about" class="">About Us</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#specialties" class="">Specialties</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#services" class="">Services</a> 
                </li>

                <li class="scroll-to-section">
                  <a href="https://tnail.veceebooking.com/" target="_blank">Appointment</a>
                </li>
                <li class="scroll-to-section">
                  <a href="#contact">Contacts</a>
                </li>
              </ul>
              <a class="menu-trigger">
                <span>Menu</span>
              </a>
              <!-- ***** Menu End ***** -->
            </nav>
          </div>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

