    <!-- ***** Main Banner Area Start ***** -->
    <div id="top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 p-0">
            <div class="left-content">
              <div class="inner-content">
                <h4>T Nails and Spa</h4>
                <h6>THE BEST EXPERIENCE</h6>

                <div class="main-white-button scroll-to-section">
                  <a
                    href="https://tnail.veceebooking.com/"
                    target="_blank"
                    rel="noopener"
                    >Book Now</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 p-0">
            <div class="main-banner header-text">
              <div class="Modern-Slider">
                <div class="item">
                  <div class="img-fill">
                    <img
                      src="assets/images/Elite-nails-spa-banner-01-a4fe2349b7.jpg"
                      alt="T Nails and Spa"
                    />
                  </div>
                </div>
                <div class="item">
                  <div class="img-fill">
                    <img
                      src="assets/images/Elite-nails-spa-banner-02-4407e13f7b.jpg"
                      alt="T Nails and Spa"
                    />
                  </div>
                </div>
                <div class="item">
                  <div class="img-fill">
                    <img
                      src="assets/images/Elite-nails-spa-banner-03-414ecc9713.jpg"
                      alt="T Nails and Spa"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="left-text-content">
              <div class="section-heading">
                <h6>About Us</h6>
                <h2>We Are <span>T Nails and Spa </span></h2>
              </div>
              <p>
                Come relax and experience the difference at T Nails and Spa. We hold
                ourselves to a standard of excellence on all our services
                including our spa pedicures, manicures, waxing, specialist
                acrylic nails and GelX nails.
              </p>
              <p>
                We are committed to providing not only the best pedicure
                service, but also the most SANITARY. Our new Disposable Pedicure
                Jet-Liners will protect you from cross-contamination and provide
                you with the most hygienic pedicure experience
              </p>
              <div class="row">
                <div class="col-4">
                  <img
                    src="assets/images/Elite-nails-spa-about-01-cffaf32699.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="col-4">
                  <img
                    src="assets/images/Elite-nails-spa-about-02-ee8b861d08.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="col-4">
                  <img
                    src="assets/images/Elite-nails-spa-about-03-e69cd393b3.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="right-content">
              <div class="thumb">
                <img
                  src="assets/images/Elite-nails-spa-about-04-01b90370fa.jpg"
                  alt="T Nails and Spa"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** About Area Ends ***** -->
