    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="specialties">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xl-12">
            <div class="section-heading">
              <h6>Our Special</h6>
              <h2>Our selection of nails with quality</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item-carousel">
        <div class="col-lg-12">
          <div class="owl-menu-item owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div
                class="owl-stage"
                style="
                  width: 5472px;
                  transform: translate3d(-2016px, 0px, 0px);
                  transition: 0.25s;
                "
              >
                <div
                  class="owl-item cloned"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-05-e6f420c36e.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-06-36639a1bcc.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-07-a39301981d.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-08-4cef4de355.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-09-35ac8411af.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 258px; margin-right: 30px">
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-01-4fa09bd761.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 258px; margin-right: 30px">
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-02-1726d4f81c.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-03-07af8f57b9.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-04-07c42babf8.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-05-e6f420c36e.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-06-36639a1bcc.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-07-a39301981d.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 258px; margin-right: 30px"
                >
                  <div class="item">
                    <div class="card">
                      <div class="info">
                        <h1 class="title">T Nails and Spa</h1>
                        <div class="main-text-button">
                          <div class="scroll-to-section">
                            <a href="https://tnail.veceebooking.com/" target="_blank"
                              ><i class="fa fa-calendar"></i> Book Now</a
                            >
                          </div>
                        </div>
                      </div>

                      <div class="info-img">
                        <img
                          src="assets/images/Elite-nails-spa-specialties-08-a39301981d.jpg"
                          alt="T Nails and Spa "
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav">
              <button type="button" role="presentation" class="owl-prev">
                <span aria-label="Previous">‹</span></button
              ><button type="button" role="presentation" class="owl-next">
                <span aria-label="Next">›</span>
              </button>
            </div>
            <div class="owl-dots">
              <button role="button" class="owl-dot active"><span></span></button
              ><button role="button" class="owl-dot"><span></span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Menu Area Ends ***** -->

