    <!-- ***** Menu Area Starts ***** -->
    <section class="section" id="specialties">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xl-12">
            <div class="section-heading">
              <h6>Our Special</h6>
              <h2>Our selection of nails with quality</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item-carousel">
        <div class="col-lg-12">
          <div class="owl-menu-item owl-carousel">
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-01-4fa09bd761.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-02-1726d4f81c.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-03-07af8f57b9.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-04-07c42babf8.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-05-e6f420c36e.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-06-36639a1bcc.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-07-a39301981d.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="card">
                <div class="info-img">
                  <img
                    src="assets/images/Elite-nails-spa-specialties-08-a39301981d.jpg"
                    alt="T Nails and Spa"
                  />
                </div>
                <div class="info">
                  <h1 class="title">T Nails and Spa</h1>
                  <div class="main-text-button">
                    <div class="scroll-to-section">
                      <a href="https://tnail.veceebooking.com/" target="_blank"
                        ><i class="fa fa-calendar"></i> Book Now</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ***** Menu Area Ends ***** -->
